.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 180px;
}

.form {
  width: 480px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 24px;
}

.form > div,
.form > div > div {
  width: 100%;
}

.form > button {
  width: min-content;
  justify-self: center;
}

.action {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  text-decoration: none;
  color: #4c4cff;
  transition: opacity 0.2s linear;
}

.link:hover {
  opacity: 0.7;
}
