.wrapper {
  display: grid;
  grid-template-rows: 120px auto;
  padding: 0 20px;
}

.container {
  grid-row: 2/3;
  max-width: 640px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
