.wrapper {
  display: grid;
  grid-template-columns: 600px 580px;
  grid-template-rows: repeat(2, auto);
  gap: 20px 60px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.title {
  grid-column: 1/3;
}
